body,
html {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body>section {
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.elipsis {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.dropzone-file-upload {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.dropzone-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropzone-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
}

.dropzone-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropzone-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}

.dropzone-file-upload input {
    display: none;
}