body,
html {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.shop_navbar>.buttons_group a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 0.4rem 0;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.shop_navbar>.buttons_group a:hover {
    color: #ff7a18;
}

.shop_navbar:has(.buttons_group a:hover) .buttons_group a:not(:hover) {
    opacity: 0.3;
}


.shop_navbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 12px;
    place-items: center;

    background-color: #111;
}

.shop_navbar>h1 {
    display: flex;
    color: white;
}

.shop_navbar>.buttons_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    gap: 8px;
    padding: 8px;
    margin: 0;
}